@import "./navbar/navbar.scss";
@import "./modal/modal.scss";
@import "./home/home.scss";
@import "./splash/splash.scss";
@import "./home/chat.scss";
@import "./loading/loading.scss";
@import "./task/task.scss";
@import "./project/project.scss";

@media screen and (max-width: 100vw) {
  html,
  body {
    background-color: $background-color;
    font-family: $font-family;
    margin: 0;
    color-scheme: dark;
    // height: 100%;
    width: 100vw;
    // display: block;
    // overflow-x: hidden;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  //   padding-bottom: 40px;
  //   // bottom: 2rem;
  //   // position: relative;
}
