@import "./variables.scss";
@import "./navbar/navbar.scss";
@import "./modal/modal.scss";
@import "./home/home.scss";
@import "./splash/splash.scss";
@import "./home/chat.scss";
@import "./loading/loading.scss";
@import "./task/task.scss";
@import "./project/project.scss";
@import "./permanent-drawer/permanent-drawer.scss";
@import "./home/slider.scss";

@media screen and (max-width: 3000px) {
  html,
  body {
    background-color: $background-color;
    font-family: $font-family;
    margin: 0;
    // color-scheme: dark;
    height: 100%;
    width: 100%;
    // display: block;
    // overflow-x: hidden;
  }
}

.parent-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  // justify-content: center;
}

.main-container {
  width: calc(100% - 200px);
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  // justify-content: center;
}

.side-drawer-container {
  display: block;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $default-darkgray;
  padding-top: 90px;
  color: white;

  // ul,
  // li {
  //   list-style: none;

  //   &:hover {
  //     background-color: $default-gray;
  //   }
  // }
}
