@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins&display=swap");

$font-family: "Poppins", sans-serif;
$default-gray: rgb(215, 219, 221);
$default-blue: #66b2ff;
$font-size-30: 30px;
$font-size-20: 20px;
$background-color: rgb(0, 30, 60);
