@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

$font-family: "Poppins", sans-serif;
$font-family-Rubik: "Rubik", sans-serif;
$default-gray: rgb(223, 223, 223);
$default-darkgray: rgb(124, 128, 128);
$default-darkergray: rgb(58, 58, 58);
$default-blue: #3f8ffe;
$default-lightblue: rgb(163, 210, 226);
$default-lighterblue: rgb(202, 226, 235);
$default-indigo: #62a0fd;
$default-orange: rgb(255, 155, 0);
$default-lightorange: rgb(250, 191, 104);
$default-yellow: rgb(248, 244, 201);
$default-red: rgb(249, 106, 93);
$default-green: rgb(114, 230, 114);
$font-size-30: 30px;
$font-size-25: 25px;
$font-size-20: 20px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-9: 9px;
$background-color: rgb(248, 248, 241);
