@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

$font-family: "Poppins", sans-serif;
$font-family-Rubik: "Rubik", sans-serif;
$default-gray: rgb(199, 199, 199);
$default-darkgray: rgb(124, 128, 128);
$default-darkergray: rgb(58, 58, 58);
$default-blue: #2ea8fa;
$default-lightblue: rgb(163, 210, 226);
$default-lighterblue: rgb(202, 226, 235);
$default-indigo: #62a0fd;
$default-orange: rgb(255, 155, 0);
$default-lightorange: rgb(250, 191, 104);
$default-lightyellow: rgb(233, 231, 214);
$default-yellow: rgb(234, 230, 199);
$default-brightyellow: rgb(252, 243, 176);
$default-red: rgb(249, 106, 93);
$default-darkred: rgb(169, 68, 58);
$default-green: rgb(114, 230, 114);
$default-lightgreen: rgb(205, 243, 201);
$default-darkgreen: rgb(117, 188, 111);
$default-mint: rgb(117, 197, 169);
$default-darkmint: rgb(93, 178, 148);
$default-darkermint: #95c0c1;
$default-purple: rgb(160, 160, 253);
$font-size-30: 30px;
$font-size-25: 25px;
$font-size-20: 20px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-9: 9px;
$background-color: rgb(248, 248, 241);
