@import "../variables.scss";

//Modal styling

.task-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: $font-size-20;
    align-self: center;
    color: $default-indigo;
    margin: 5px 0 20px 0;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $default-darkgray;
    margin: 10px;

    .form-label {
      font-size: $font-size-14;
      width: 100%;
    }

    input {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      width: 258px;
      padding: 10px;
      margin: 10px 0 10px 0;
      border: 1px solid $default-darkgray;
      border-radius: 6px;
      color: $default-darkgray;
      font-size: $font-size-14;
      // background-color: $default-lighterblue;

      &:focus {
        outline: none;
        border: 2px solid $default-indigo;
        color: $default-indigo;
      }
    }

    .task-error {
      color: $default-red;
      display: flex;
      align-self: flex-start;
      // flex-direction: flex-start;
      align-items: flex-start;
    }

    p {
      margin-top: 0;
    }

    .button-container {
      margin-top: 20px;

      button {
        cursor: pointer;
        padding: 10px;
        margin: 10px;
        border: 2px solid $default-indigo;
        border-radius: 10px;
        font-size: $font-size-16;
        color: $default-indigo;

        &:hover {
          background-color: $default-indigo;
          color: white;
        }
      }

      #delete-button {
        &:hover {
          background-color: $default-red;
          border: 2px solid $default-red;
          color: white;
        }
      }
    }
  }
}

// Add Task styling
.create-task-button {
  margin: 10px 10px 10px 10px;
  width: 140px;
  display: flex;
  color: $default-mint;
  padding: 10px;
  justify-content: center;
  // border: 1px solid transparent;

  p {
    margin: 0;
    display: flex;
    font-size: $font-size-20;
    cursor: pointer;
  }

  &:hover {
    // border: 1px solid white;
    border-radius: 15px;
    background-color: $default-mint;
    color: white;
  }
}

// Task Showpage - Project Info styling
.task-showpage-top {
  margin-bottom: 20px;
}

.task-showpage-project-info {
  margin-left: 20px;
  display: flex;
  column-gap: 15px;

  .task-showpage-text {
    font-size: $font-size-20;
    color: $default-red;
  }

  .task-showpage-project-name {
    font-size: $font-size-20;
    font-weight: 500;
    color: $default-red;
  }
}

.task-index-item {
  list-style: none;
  margin: 1em;
}

.tasks-index-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.task-show-page {
  border: 10px solid black;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.task-item-no-buttons {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 15em;
  width: 15em;
  padding: 1em;
  transform: rotate(-6deg);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transition: transform 0.15s linear;
}

.task-text {
  font-size: $font-size-12;
  color: $default-darkgray;
  margin: 0;
  margin-top: 10px;
  margin-left: 2px;
  padding: 0;
}

.task-assigned-user {
  font-size: $font-size-12;
  color: $default-blue;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.task-index-item:nth-child(even) .task-item-no-buttons {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
}
.task-index-item:nth-child(3n) .task-item-no-buttons {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ccf;
}
.task-index-item:nth-child(5n) .task-item-no-buttons {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}

#task-item-no-buttons:hover,
#task-item-no-buttons:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

#task-item-no-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-item-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -15px;

  p {
    font-size: $font-size-20;
    font-weight: bold;
  }
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.rechart-container {
  --paper-dark: #fdfd9a;
  --paper-color: #fdfd9a;
  --paper-shadow: #fdfd97;
  margin-top: 20px;
  position: sticky;
  top: 50px;
  right: 20px;
  display: flex;
  justify-content: center;
  min-width: 430px;
  height: 290px;
  background: linear-gradient(
    135deg,
    var(--paper-dark),
    30%,
    var(--paper-color)
  );
  box-shadow: 3px 3px 2px var(--paper-shadow);
  transform: rotate(5deg);
  transform-origin: top left;
}

.pin {
  --pin-color: #d02627;
  --pin-dark: #9e0608;
  --pin-light: #fc7e7d;

  position: absolute;
  left: 0px;
  width: 60px;
  height: 50px;
}

.shadow {
  position: absolute;
  top: 18px;
  left: 2px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: radial-gradient(var(--paper-shadow), 20%, rgba(201, 191, 141, 0));
}

.metal {
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
  border-radius: 0 0 30% 30%;
  transform: rotate(50deg);
  transform-origin: bottom left;
  top: 17px;
  left: 10px;
  border-bottom: 1px solid #808080;
}

.bottom-circle {
  --pin-color: #d02627;
  --pin-dark: #9e0608;
  --pin-light: #fc7e7d;

  position: absolute;
  left: 20px;
  top: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--pin-color);
  background: radial-gradient(
    circle at bottom right,
    var(--pin-light),
    25%,
    var(--pin-dark),
    90%,
    var(--pin-color)
  );
}

/* Barrel */
.bottom-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 20px;
  height: 30px;
  transform: rotate(55deg);
  transform-origin: 100% 100%;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(
    to right,
    var(--pin-dark),
    30%,
    var(--pin-color),
    90%,
    var(--pin-light)
  );
}

/* Top circle */
.bottom-circle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(
    circle at right,
    var(--pin-light),
    30%,
    var(--pin-color),
    var(--pin-dark) 80%
  );
}

.no-tasks-showpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h1 {
    color: $default-red;
  }

  h2 {
    color: $default-blue;
    margin-top: -10px;
  }

  h3 {
    color: $default-blue;
    font-size: $font-size-16;
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      cursor: pointer;
      font-size: $font-size-12;
      margin: 0 0 0 10px;
      border: 1px solid $default-lightblue;
      border-radius: 6px;
      padding: 1px 3px 1px 3px;
      background-color: $default-lightblue;
      color: $default-blue;
    }
  }

  p {
    cursor: pointer;
    font-size: $font-size-20;
    margin: 0 0 0 10px;
    border: 1px solid $default-lightblue;
    border-radius: 6px;
    padding: 1px 3px 1px 3px;
    background-color: $default-lightblue;
    color: $default-blue;

    &:hover {
      transform: scale(1.15);
      z-index: 5;
    }
  }
}

.pink {
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);

  --paper-color: #ecb2ba;
  --paper-dark: #c6939a;
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}

// assign tasks styling

.blue {
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);

  --paper-color: #d5e0f9;
  --paper-dark: #c2d0ea;
  --shadow-size: 3px;
  --transparent: rgba(213, 224, 249, 0);
}

.green {
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);

  --paper-color: #e0f9d5;
  --paper-dark: #b3c7aa;
  --shadow-size: 3px;
  --transparent: rgba(213, 224, 249, 0);
}

.paper {
  position: relative;
  background: linear-gradient(
      to bottom right,
      var(--paper-dark),
      20%,
      var(--transparent)
    ),
    var(--paper-color);
  width: 300px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
  margin: auto;
  margin-top: 50px;

  .autocomplete-task {
    width: 90%;
    z-index: 999;
  }
}

.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    ),
    linear-gradient(
      to right,
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    );
}

.tape-section {
  position: absolute;
  width: 100%;
}

.top-tape {
  position: absolute;
  height: 4vmin;
  top: -5px;
  width: 110%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.5;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}

#assign-task-header {
  color: $default-red;
  margin-bottom: 10px;
}

.assign-task-inner-div {
  width: 400px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  border: 10px solid #d8d1c5;
  background-color: #cde2ca;
}

.assign-task-inner-div > div {
  width: 0;
}

#assign-task-button {
  cursor: pointer;
  font-size: $font-size-20;
  margin: 30px 0 0 90px;
  border: 1px solid $default-lightblue;
  border-radius: 6px;
  padding: 1px 3px 1px 3px;
  background-color: $default-lightblue;
  color: $default-blue;

  &:hover {
    transform: scale(1.15);
    z-index: 5;
  }
}

#assign-task-alert {
  position: absolute;
  top: 200px;
  right: 30px;
}

.assign-task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
