@import "../variables.scss";

.project-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  border-bottom: 2px solid $default-darkgray;
}

.project-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-transform: capitalize;

  span {
    margin: 20px 0 20px 40px;
    font-size: $font-size-30;
    padding-right: 20px;
  }

  h1 {
    color: $default-orange;
    margin: 20px 0 20px 0;
    font-size: $font-size-30;
  }
}

.project-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-transform: capitalize;

  span {
    margin: 10px 0 20px 40px;
    font-size: $font-size-25;
    padding-right: 20px;
  }

  h1 {
    color: $default-lightorange;
    margin: 10px 0 20px 0;
    font-size: $font-size-25;
  }
}

.project-buttons {
  display: flex;
  justify-content: space-around;
  width: 40%;
  cursor: pointer;
  margin-bottom: 40px;

  .project-delete-button {
    padding: 20px;
    border-radius: 10px;
    font-size: $font-size-16;
    color: $default-red;
    background-color: $default-lightblue;
    border: none;
    margin-right: 20px;

    &:hover {
      color: $default-green;
      background-color: white;
      border: 1px solid $default-green;
    }
  }

  .project-update-button {
    padding: 20px;
    border-radius: 10px;
    font-size: $font-size-16;
    color: $default-blue;
    background-color: $default-lightblue;
    border: none;

    &:hover {
      color: $default-green;
      background-color: white;
      border: 1px solid $default-green;
    }
  }
}

.task-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-transform: capitalize;

  span {
    margin: 20px 0 20px 40px;
    font-size: $font-size-30;
    padding-right: 20px;
    color: black;
  }
}

.task-form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;

  .task-form-desc {
    padding: 20px;
    border-radius: 10px;
    font-size: $font-size-16;
    color: $default-blue;
    background-color: $default-lightblue;
    border: none;
    margin-right: 20px;

    &:focus {
      color: $default-red;
      background-color: $default-gray;
    }
  }

  .task-form-submit {
    padding: 20px;
    border-radius: 10px;
    font-size: $font-size-16;
    color: $default-blue;
    background-color: $default-lightblue;
    border: none;

    &:hover {
      color: $default-green;
      background-color: white;
      border: 1px solid $default-green;
    }
  }
}

#assign-task-button {
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  border-color: transparent;
  background-color: $default-blue;
  border-style: none;
  padding: 5px 0px;

  &:hover {
    color: $default-green;
    background-color: white;
    border-color: $default-green;
  }
}