@import "../variables.scss";

.dashboard-container {
  width: 100%;
  height: 1000px;
  color: $default-gray;
  font-size: $font-size-20;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  // border: 1px solid white;

  h1 {
    color: yellow;
  }
}

.tab-component {
  height: 100%;
  // border: 1px solid red;
}

.main-content-container {
  display: flex;
  height: 100%;
  border: 1px solid purple;
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.task-container {
  // border: 1px solid green;
}

.chart-container {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border: 1px solid yellow;
}

.right-content {
  width: 100%;
  border: 1px solid orange;
}

.closed-chat-container {
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  .chat-icon {
    z-index: 99;
  }
}
