@import "../variables.scss";

// .project-form-container {
//   //   border: 1px solid red;
//   padding: 0 20px 0 20px;
//   color: $default-blue;

//   h1 {
//     text-align: center;
//   }
// }

// .create-project-header {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   margin-top: 20px;

//   input {
//     width: 75%;
//     // max-width: 568px;
//     // min-width: 200px;
//     padding: 18px;
//     border-radius: 10px;
//     border: 1px solid #ccc;
//     margin: 0 20px 10px 0;
//     color: black;
//     background-color: $default-gray;
//     cursor: pointer;

//     &:hover {
//       border: 2px solid #0a1929;
//     }
//     &:focus {
//       border: 2px solid $default-blue;
//     }
//   }
// }
// ------
// .create-project-input {
//   width: 70%;
//   max-width: 100%;
//   background-color: white;
//   color: #0a1929;
//   justify-content: center;
// }

// .create-project-header input {
//   width: 75%;
//   // max-width: 568px;
//   // min-width: 200px;
//   padding: 18px;
//   border-radius: 10px;
//   border: 1px solid #ccc;
//   //   margin-bottom: 10px;
//   color: #0a1929;
//   &:hover {
//     border: 2px solid #0a1929;
//   }
//   &:focus {
//     border: 2px solid $default-blue;
//   }
// }

.projects-index-container {
  margin-top: 20px;
}

.create-button {
  margin: 10px 10px 20px 10px;
  width: 250px;
  display: flex;
  color: $default-red;
  // border: 1px solid green;

  p {
    display: flex;
    margin: 0 5px 0 10px;
    font-size: $font-size-20;
    cursor: pointer;

    &:hover {
      color: $default-green;
    }
  }
}

.projects-index-grid {
  margin: 10px 10px 50px 10px;
  width: 100%;
  height: 100%;
  color: $default-blue;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  column-gap: 30px;
  row-gap: 20px;
  // border: 1px solid black;
}

.project-index-item {
  border: 1px solid $default-blue;
  background-color: $default-yellow;
  display: flex;
  flex-direction: column;

  .project-info {
    height: 125px;

    ul {
      list-style: none;
      padding: 10px;
    }
  }

  .update-delete-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
