@import "../variables.scss";

// .project-form-container {
//   //   border: 1px solid red;
//   padding: 0 20px 0 20px;
//   color: $default-blue;

//   h1 {
//     text-align: center;
//   }
// }

// .create-project-header {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   margin-top: 20px;

//   input {
//     width: 75%;
//     // max-width: 568px;
//     // min-width: 200px;
//     padding: 18px;
//     border-radius: 10px;
//     border: 1px solid #ccc;
//     margin: 0 20px 10px 0;
//     color: black;
//     background-color: $default-gray;
//     cursor: pointer;

//     &:hover {
//       border: 2px solid #0a1929;
//     }
//     &:focus {
//       border: 2px solid $default-blue;
//     }
//   }
// }
// ------
// .create-project-input {
//   width: 70%;
//   max-width: 100%;
//   background-color: white;
//   color: #0a1929;
//   justify-content: center;
// }

// .create-project-header input {
//   width: 75%;
//   // max-width: 568px;
//   // min-width: 200px;
//   padding: 18px;
//   border-radius: 10px;
//   border: 1px solid #ccc;
//   //   margin-bottom: 10px;
//   color: #0a1929;
//   &:hover {
//     border: 2px solid #0a1929;
//   }
//   &:focus {
//     border: 2px solid $default-blue;
//   }
// }

.projects-index-container {
  margin: 20px 0 50px 0;
  // font-family: $font-family-Rubik;
}

.create-button {
  margin: 10px 10px 20px 10px;
  width: 250px;
  display: flex;
  color: $default-red;
  // border: 1px solid green;

  p {
    display: flex;
    margin: 0;
    font-size: $font-size-20;
    cursor: pointer;
  }
}

.projects-index-grid {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  // grid-template-rows: repeat(3, 250px);
  column-gap: 30px;
  row-gap: 10px;
}

.img-container {
  position: relative;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    transition: transform 0.3s;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 5;
    transition: 0.25s ease-out;

    &:hover,
    img {
      opacity: 1;
    }
  }
}

.project-index-item {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 100%;
  height: 190px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  justify-content: space-between;
  color: $default-red;
  // border: 1px solid black;

  .project-info {
    ul {
      list-style: none;
      margin: 15px;
      padding: 0;

      .project-text {
        font-size: $font-size-12;
        font-weight: 300;
        color: $default-darkgray;
        margin: 0;
        padding: 0;
      }

      // li:last-child {
      // margin: 0;
      // padding: 0;
      // }

      // .project-input {
      // -webkit-text-stroke-width: 0.5px;
      // -webkit-text-stroke-color: black;
      // font-size: $font-size-20;

      // p:last-child {
      //   font-size: $font-size-12;
      // }
      // }
    }
  }

  .project-action-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    p {
      cursor: pointer;
      font-size: $font-size-12;
      margin: 0 0 0 30px;
      // border: 0 solid $default-lightblue;
      border-radius: 6px;
      padding: 0 7px 0 7px;
      background-color: $default-gray;
      color: $default-darkgray;

      &:hover {
        border: 1px solid black;
        color: black;
      }
    }

    #proj-icon {
      cursor: pointer;
      vertical-align: middle;
    }
  }
}
