@import "../variables.scss";

.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $default-green;
  font-family: $font-family-Rubik;
  padding: 10px 10px 14px 10px;

  p {
    max-width: 205px;
    font-size: 23px;
  }
}

.side-drawer-items {
  cursor: pointer;
  padding: 10px;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    // border: 1px solid red;
  }

  li:focus {
    background-color: $default-yellow;
    color: aquamarine;
  }

  &:hover {
    background-color: $default-yellow;
  }
}
