@import "../variables.scss";

.nav-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid $default-darkgray;

  a {
    text-decoration: none;
  }
}

.nav-left {
  display: flex;
  // align-items: center;
  padding: 10px 0px 10px 20px;

  .branches-logo-container {
    display: flex;
    align-items: center;

    &:hover {
      -o-transform: scale(1.075);
      -webkit-transform: scale(1.075);
      -ms-transform: scale(1.075);
      transform: scale(1.075);
      transition: 0.25s ease-out;
    }
  }

  #branches-logo {
    width: 50px;
    height: 50px;
  }

  p {
    font-size: $font-size-25;
    font-weight: 500;
    color: $default-darkergray;
    padding-left: 5px;
  }
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  // padding: 10px 0 10px 30px;
  // border: 1px solid red;
  margin-right: 80px;

  #user-icon {
    cursor: pointer;
    animation: bounce2 2s ease infinite;
    color: $default-darkermint;

    @keyframes bounce2 {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-13px);
      }
      60% {
        transform: translateY(-8px);
      }
    }
    &:hover {
      color: $default-yellow;
    }
  }
}

.logout-button {
  cursor: pointer;
  color: $default-darkgray;
  background-color: $default-brightyellow;
  font-size: $font-size-20;
  text-transform: capitalize;
  line-height: 0;
  letter-spacing: 0;
  border: 1px solid $default-darkgray;
  padding: 25px 15px 25px 15px;
  border-radius: 20px;

  &:hover {
    color: $default-brightyellow;
    background-color: $default-darkgray;
    border-color: $default-darkgray;
  }
}
