@import "../variables.scss";

.nav-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  // padding: 15px 25px 15px 25px;
  border: 1px solid $default-blue;

  a {
    text-decoration: none;
  }
}

.nav-left {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 30px;

  .branches-logo-container {
    display: flex;
    align-items: center;
    padding-right: 50px;
  }

  #branches-logo {
    width: 70px;
    height: 70px;
  }

  h1 {
    font-size: $font-size-30;
    color: $default-blue;
    padding-left: 10px;

    &:hover {
      color: $default-gray;
      background-color: transparent;
      border-color: $default-gray;
    }
  }

  .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: $default-blue;
    font-size: $font-size-30;
    font-family: $font-family;
    text-transform: capitalize;
    line-height: 0;
    letter-spacing: 0;
    border: 1px solid $default-blue;
    padding: 25px 15px 25px 15px;
    border-radius: 20px;
    font-size: $font-size-30;

    &:hover {
      color: $default-gray;
      background-color: transparent;
      border-color: $default-gray;
    }
  }
}

.nav-right {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-right: 30px;

  #user-icon {
    cursor: pointer;
  }
}

.logout-button button {
  color: $default-blue;
  font-size: $font-size-30;
  font-family: $font-family;
  text-transform: capitalize;
  line-height: 0;
  letter-spacing: 0;
  border: 1px solid $default-blue;
  padding: 25px 15px 25px 15px;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: transparent;
  border-color: $default-blue;
  &:hover {
    color: $default-gray;
    background-color: transparent;
    border-color: $default-gray;
  }
}