@import "../variables.scss";

.nav-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $default-lightyellow;
  border-bottom: 1px solid $default-gray;

  a {
    text-decoration: none;
  }
}

.nav-left {
  margin: 20px 0 20px 100px;

  .task-it-logo-container {
    #task-it-logo {
      width: auto;
      height: 80px;
      opacity: 0.75;
    }

    &:hover {
      -o-transform: scale(1.075);
      -webkit-transform: scale(1.075);
      -ms-transform: scale(1.075);
      transform: scale(1.075);
      transition: 0.25s ease-out;
    }
  }

  p {
    font-size: $font-size-25;
    font-weight: 500;
    color: $default-darkergray;
    padding-left: 5px;
  }
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-right: 100px;

  #user-icon {
    cursor: pointer;
    animation: bounce2 2s ease infinite;
    color: $default-darkermint;

    @keyframes bounce2 {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-13px);
      }
      60% {
        transform: translateY(-8px);
      }
    }
    &:hover {
      color: $default-darkgray;
    }
  }
}

.logout-button {
  cursor: pointer;
  color: $default-darkgray;
  font-size: $font-size-20;
  background-color: $default-lightgreen;
  border: 1px solid $default-darkgray;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;

  &:hover {
    color: $default-lightgreen;
    background-color: $default-darkgray;
    border-color: $default-darkgray;
  }
}
