@import "../variables.scss";

.nav-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $default-darkgray;

  a {
    text-decoration: none;
  }
}

.nav-left {
  display: flex;
  // align-items: center;
  padding: 10px 0px 10px 20px;

  .branches-logo-container {
    display: flex;
    align-items: center;

    &:hover {
      -o-transform: scale(1.075);
      -webkit-transform: scale(1.075);
      -ms-transform: scale(1.075);
      transform: scale(1.075);
    }
  }

  #branches-logo {
    width: 60px;
    height: 60px;
  }

  h1 {
    font-size: $font-size-30;
    color: $default-blue;
    padding-left: 10px;
  }
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px 0 10px 30px;
  cursor: pointer;

  #user-icon {
    cursor: pointer;
    color: $default-darkgray;
  }

  // .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  //   color: $default-blue;
  //   font-size: $font-size-30;
  //   font-family: $font-family;
  //   text-transform: capitalize;
  //   line-height: 0;
  //   letter-spacing: 0;
  //   border: 1px solid $default-blue;
  //   padding: 25px 15px 25px 15px;
  //   border-radius: 20px;
  //   font-size: $font-size-30;

  //   &:hover {
  //     color: $default-green;
  //     background-color: white;
  //     border-color: $default-green;
  //   }
  // }
}

.logout-button {
  color: $default-blue;
  font-size: $font-size-30;
  font-family: $font-family;
  text-transform: capitalize;
  line-height: 0;
  letter-spacing: 0;
  border: 1px solid $default-blue;
  padding: 25px 15px 25px 15px;
  border-radius: 20px;
  background-color: transparent;
  border-color: $default-blue;
  margin: 0 30px 0 20px;

  &:hover {
    color: $default-green;
    background-color: white;
    border-color: $default-green;
  }
}
