@import "../variables.scss";

$clr1: #bcd7d8;
$clr2: #f8f3e8;
$clr3: darken($clr2, 2%);
$clr4: #f3bcaa;

@mixin center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Container
.splash-stage {
  @include center;
  width: 550px;
  height: 550px;
  perspective: 800;
}

.splash-frame {
  @include center;
  width: 550px;
  height: 550px;
  opacity: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
  animation: show 0.5s 3s ease forwards;
}

//Folds
.splash-box {
  position: absolute;
  width: 250px;
  height: 250px;
  background: $clr1;
  border: 25px solid $clr2;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  border-radius: 4px;

  .splash-in {
    position: absolute;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background: rgb(darken($clr2, 6%), 0.6);
    animation: grow 0.5s 3s cubic-bezier(0.66, -0.3, 0.66, 1) forwards;
    p {
      padding: 0px 20px;
      font-size: 14px;
      color: $default-darkergray;
      text-indent: 20px;
      margin: 20px 0 20px 0;
    }
    &.splash-one {
      left: 150px;
      bottom: -100px;
    }
    &.splash-two {
      left: -100px;
      bottom: -100px;
    }
    &.splash-three {
      left: 150px;
      bottom: 150px;
    }
    &.splash-four {
      left: -100px;
      bottom: 150px;
    }
  }
  &:nth-child(1) {
    background: $clr3;
    border-radius: 5px 0 0 0;
    border-right: none;
    border-bottom: none;
    animation: clr 1s 1s ease forwards;
  }
  &:nth-child(2) {
    background: $clr3;
    border-radius: 0 5px 0 0;
    left: 275px;
    border-left: none;
    border-bottom: none;
    transform-origin: 0 0;
    transform: rotateY(180deg);
    animation: fold 1s 1s ease forwards;
  }
  &:nth-child(3) {
    background: $clr3;
    border-radius: 0 0 0 5px;
    top: 275px;
    width: 250px;
    opacity: 0;
    border-top: none;
    border-right: none;
    transform: rotateX(180deg);
    transform-origin: 0 0;
    animation: fold2 1s 2s ease forwards;
  }
  &:nth-child(4) {
    background: $clr3;
    border-radius: 0 0 5px 0;
    top: 275px;
    left: 275px;
    opacity: 0;
    border-top: none;
    border-left: none;
    transform: rotateX(180deg);
    transform-origin: 0 0;
    animation: fold2 1s 2s ease forwards;
  }
}

//Animation
@keyframes clr {
  99% {
    background: $clr3;
  }
  100% {
    background: $clr1;
  }
}

@keyframes fold {
  99% {
    background: $clr3;
  }
  100% {
    background: $clr1;
    transform: rotateY(360deg);
  }
}

@keyframes fold2 {
  0% {
    opacity: 1;
    background: $clr3;
  }
  25% {
    opacity: 1;
    background: $clr3;
  }
  40% {
    opacity: 1;
    background: $clr1;
  }
  100% {
    opacity: 1;
    background: $clr1;
    transform: rotateX(0deg);
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  100% {
    width: 250px;
    height: 250px;
    // border-radius: 10%;
    border-radius: 0;
    left: 0px;
    bottom: 0px;
    background: rgba(darken($clr1, 10%), 0.8);
  }
}

.splash-in > h3 {
  margin-bottom: 0px;
  color: $default-brightyellow;
  font-size: $font-size-20;
}
