@import "../variables.scss";

.opened-chat-container:not(:first-child) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  // position: absolute;
  // bottom: 2rem;
  // right: 2rem;
  position: fixed;
  bottom: 0.5rem;
  right: 2.5rem;
  width: 18rem;
  height: 25rem;
  background: $default-green;
  border-radius: 12px;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;

  .close-chat {
    // top: 0;
    // right: 0;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background: #588cbc3a;
    display: flex;
    align-self: flex-start;
    z-index: 99;
    cursor: pointer;
  }

  input {
    padding: 12px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
}

.chat-box {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 21rem;

  .chat-message {
    font-size: $font-size-16;
    color: black;
    padding: 10px 12px 5px 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    p {
      text-overflow: ellipsis;
    }
  }

  .chat-timestamp {
    font-size: 10px;
    margin: 5px 0 5px 0;
  }
}

.chat-footer {
  display: flex;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  justify-content: space-between;
  width: 95%;

  button {
    background-color: transparent;
    border: none;
    color: $default-orange;
    padding: none;

    &:hover {
      color: $default-red;
      background-color: transparent;
      border-color: $default-gray;
      cursor: pointer;
    }
  }
}

.chat-input {
  height: 3rem;
  border-radius: 10px;
  background: $default-gray;
  width: 100%;
  color: black;
}
