@import "../variables.scss";

// .dashboard-container {
//   width: 100%;
//   height: 700px;
//   color: $default-gray;
//   font-size: $font-size-20;
//   margin-top: 60px;
//   display: flex;
//   flex-direction: column;
//   // border: 1px solid white;

//   h1 {
//     color: black;
//   }
// }

// .tab-component {
//   height: 100%;
//   // border: 1px solid red;
// }

// .main-content-container {
//   display: flex;
//   height: 100%;
//   border: 2px solid black;
//   background-color: $default-yellow;
// }

// .left-content {
//   display: flex;
//   flex-direction: column;
//   width: 40%;
//   border-right: 2px solid $default-darkgray;
// }

// .task-container {
//   // border-bottom: 2px solid $default-darkgray;
//   color: black;

//   span {
//     text-decoration: underline;
//     font-size: $font-size-25;
//   }

//   #todo-icon {
//     vertical-align: text-top;
//     padding-right: 10px;
//   }

//   ol {
//     padding: 10px 0 0 40px;
//   }
// }

// .chart-container {
//   margin: auto;
//   // display: flex;
//   // justify-content: flex-start;
//   width: 100%;
//   height: 100%;
// }

// .right-content {
//   width: 100%;
// }

// .right-content-dashboard {
//   width: 100%;
//   border: 1px solid orange;
//   display: flex;
//   align-items: center;
//   flex-direction: column;

//   p {
//     font-size: $font-size-30;
//     font-weight: 700;
//     color: $default-red;
//     text-align: center;
//   }
//   #dashboard-gif {
//     height: 75%;
//     width: 100%;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

.closed-chat-container {
  position: fixed;
  bottom: 0.5rem;
  right: 2.5rem;
  color: $default-orange;

  .chat-icon {
    z-index: 99;
  }
}

// .react-tabs__tab--selected {
//   color: $default-blue;
//   font-size: $font-size-30;
//   font-family: $font-family;
//   text-transform: capitalize;
//   line-height: 0;
//   letter-spacing: 0;
//   border: 1px solid $default-blue;
//   padding: 25px 15px 25px 15px;
//   border-top-left-radius: 20px;
//   border-top-right-radius: 20px;
//   // margin-right: 20px;
//   // margin-top: 20px;
//   background-color: $default-yellow;
//   border-color: $default-blue;

//   &:hover {
//     color: $default-gray;
//     background-color: $default-yellow;
//     border-color: $default-gray;
//   }
// }

// .react-tabs__tab {
//   color: black;
//   font-size: $font-size-30;
//   font-family: $font-family;
//   text-transform: capitalize;
//   line-height: 0;
//   letter-spacing: 0;
//   border: 2px solid black;
//   padding: 25px 15px 25px 15px;
//   border-top-left-radius: 20px;
//   border-top-right-radius: 20px;
//   // margin-right: 20px;
//   // margin-top: 20px;
//   background-color: $default-yellow;
//   border-color: black;

//   &:hover {
//     color: $default-blue;
//     background-color: white;
//     border-color: $default-blue;
//   }
// }

// .task-container li {
//   color: $default-blue;
//   display: flex;
//   list-style-type: none;
//   cursor: pointer;
//   &:hover {
//     color: yellow;
//     transition: 0.3ms;
//   }
// }

// .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
//   background-color: $default-lightblue !important;
//   color: black;
//   font-size: $font-size-30;
//   font-family: $font-family;
//   text-transform: capitalize;
//   line-height: 0;
//   letter-spacing: 0;
//   padding: 25px 15px 25px 15px;
// }

// .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root :hover {
//   color: $default-blue;
//   background-color: transparent;
//   border-color: $default-blue;
// }

// form input {
//   color: black;
//   border: 1px solid $default-blue;
//   border-radius: 20px;
//   padding: 25px 15px 25px 15px;
//   margin-right: 20px;
//   margin-top: 20px;
//   background-color: white;
//   border-color: $default-blue;
// }

// form button {
//   border-radius: 20px;
//   padding: 20px 10px 20px 10px;
// }

// .recharts-surface {
//   border-radius: 30px;
// }

// .react-tabs__tab-list {
//   margin: 0;
// }

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid green;
}

.instructions-container {
  width: 1000px;
  border: 1px solid purple;
}

.team-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  // border: 1px solid red;
  // align-content: center;
  // align-self: center;
  // position: absolute;
  // top: 50%;
  // right: 70%;
  // transform: translate(50%, 25%);

  .container {
    width: 350px;
    position: relative;
    display: flex;
    justify-content: center;

    &:hover {
      transform: scale(1.3);
      z-index: 5;
      transition: 0.5s ease-out;
    }
  }

  #name-badge {
    margin: 0;
    width: 350px;
    height: 350px;
    opacity: 0.85;
  }

  .anthony,
  .andrea,
  .andy,
  .michael {
    position: absolute;
    top: 111px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .photo-container {
    width: 105px;
    height: 105px;
    margin-left: 52px;

    img {
      margin: 0;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 150px;

    p {
      margin: 0 0 40px 0;
      color: $default-red;
      font-size: $font-size-16;
      font-weight: 500;
    }

    #andrea {
      margin: 0 0 2px 0;
      line-height: 2rem;
      color: $default-red;
      font-size: $font-size-16;
      font-weight: 500;
    }

    .socials {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px;
    }

    #social-link {
      width: 25px;
      height: 25px;
      padding: 6px;
      color: $default-darkmint;
      display: flex;
      flex-shrink: 3;

      &:hover {
        color: $default-red;
      }
    }
  }
}
