
.slider-container {
  // background: linear-gradient(149deg, rgb(247, 0, 255) 0%, rgb(255, 145, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
  width: 100%;
  max-width: 700px;
  height: 400px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
  background-color: rgb(170, 160, 213);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  margin-right: 0px;
  box-sizing: border-box;
  background: rgb(89, 193, 172);
  transform-origin: center center;
  transform: scale(1);
  scroll-snap-align: center;
}

.slide-content {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 85%;
  // border: 1px solid black;
  align-items: center;
  justify-content: center;
  // contain: content;
}

.instructions-gif {
  max-height: 90%;
  max-width: 90%;
}

.slide__text {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 30px 0px 0px 0px;
}

.slide a {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

a.slide__prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 10px 0 10px;
}